<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
      <servlet-name>PlayerMoveServlet</servlet-name>
      <servlet-class>com.supertictactoe.supertictactoe.PlayerMoveServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PlayerMoveServlet</servlet-name>
    <url-pattern>/PlayerMove</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SuperTicTacToe.jsp</welcome-file>
  </welcome-file-list>

</web-app>
